[submodule "libs/secp256k1"]
	path = libs/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "libs/esp-idf"]
	path = libs/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "libs/cifra"]
	path = libs/cifra
	url = https://github.com/ctz/cifra.git
[submodule "libs/mpy"]
	path = libs/mpy
	url = https://github.com/micropython/micropython.git
